<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Object Detection</h1>
    <div class="video-container">
        <img src="{{ url_for('video_feed') }}" alt="Live Video Stream">
    </div>
    <div class="footer">
        <p>Powered by Flask and OpenCV</p>
    </div>
    <div>Currently Online:</div>
    <div class="website-counter">0</div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
